<% @page_title = "Charge with QR" %>
<div id="qr-container">
    <a href="/dashboard" class="header-button back-button">&larr; Home <%# &larr is a arrow %></a>
    <h1>YOUR QR CODE</h1>
    <div id="qr-code" account=<%= @user.account.id %>></div>
    <p class="qr-info">This qr code is only functional for transactions between two bivix accounts</p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.js"></script>
<script src="/js/qrcode.js"></script>