<!DOCTYPE html>
<html>
<head>
  <title>Loading...</title>
  <link rel="stylesheet", href="/css/styles.css">
  <link rel="icon" href="/assets/bivix.ico" type="image/x-icon">
</head>
<body>
  <div id="boot-screen">
    <img src="/assets/unnamed-logo.png" alt="Logo" class="boot-logo">
  </div>

  <script src="/js/boot.js"></script>
</body>
</html>