<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/assets/bivix.ico" type="image/x-icon">
    <title><%= @page_title || "BIVIX" %></title>
</head>
<body>
    <header>
        <h1 class="bivix-name">
            <img id="logo-bivix-layout" src = assets/bivix.ico> BIVIX
        </h1>
        <% if session[:user_id] %>
            <nav>
                <a href="/logout" class="layout-links">Log Out</a>
            </nav>
        <% else %>
            <nav>
                <a href="/register" class="layout-links">Sign Up</a> |
                <a href="/login" class="layout-links">Login</a>
            </nav>
        <% end %>
    </header>

    <% if @error %>
        <p style="color: red;"><%= @error %></p>
    <% end %>
    <%= yield %>
</body>
</html>
