<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log in</title>
</head>
<body>
    <div class= "box-login">
        <div class = "container-box">
            <header>
                <img src="/assets/unnamed-logo.png" alt="logo" id="bivix-logo">
                <h1 id="bivix-name">BIVIX</h1>
            </header>
            <p class="explanation">Log in to your account</p>
            <div class="form-container">
                <form method="post" id="login-form">
                    <input type="email" id="login-email" placeholder=" youremail@example.com" name="login_mail">
                    <input type="password" id="login-password" placeholder=" Enter your password" name="login_password">
                    <input type="submit" id="login-submit" value="Continue" name="login-submit">
                </form>
                <div class="small-divider">or</div>
                <label for="create-account">
                    <input type="button" id="create-account" value="Create an account" onclick="window.location.href = '/register';">
                </label>
            </div>
        </div>    
    </div>
    </body>
</html>