<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sinatra Test</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Welcome to Sinatra!</h1>
  <p>This is a view rendered with ERB.</p>
</body>
</html>