<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sinatra Test</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <img src='#' alt='logo'>
    <p class="bivix-name">BIVIX<p>
  </header>
  <div class="login-form">
    <h1>Log in to your account</h1>
    <form>
      <input type="email" placeholder="youremail@example.com">
      <input type="password" placeholder="Enter your password">
      <input type="submit" value="Continue">
    </form>
  </div>
</body>
</html>